* {
  box-sizing: border-box;
}

div {
  text-align: center;
  display: block;
}

a {
  display: inline-block;
  font-size: 24px;
  font-weight: 300;
  text-decoration: none;
}

a:hover {
  color: #000;
}

#random {
  margin-top: 20px;
  margin-bottom: 10px;
}

input[type="text"] {
  background: transparent;
  border: 3px solid #00ab90;
  border-radius: 15px;
  width: 200px;
  height: 30px;
  padding-left: 10px;
  outline: none;
}

#new-request-btn {
  background: #00ab90;
  border: 2px solid #00ab90;
  border-radius: 15px;
  height: 30px;
}

#new-request-btn:hover {
  color: #fff;
}

footer {
  text-align: center;
  padding-bottom: 15px;
}

ul {
  width: 80%;
  margin: 20px auto;
  list-style-type: none;
  text-align: left;
}

li {
  border: 1px solid #D3D3D3;
  margin: 15px auto;
  padding: 5px;
}

li:hover {
  border-color: #00ab90;
}

li a {
  font-size: 20px;
  font-weight: bold;
  padding-top: 15px;
  padding-left: 20px;
}

p {
  font-size: 16px;
  font-weight: normal;
}

li a,
p {
  color: #000;
}



/* add request form */
.add_request_btn,
.cancel_btn {
  background-color: #00ab90;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 1%;
    border: none;
    cursor: pointer;
    width: 80%;
    border-radius: 10px;
}

/* Extra styles for the cancel button */
.cancel_btn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancel_btn,
.add_request_btn {
  float: left;
  width: 48%
}

/* Add padding to container elements */
.container {
    padding: 16px;
    text-align: left;
    /*width: 80%;*/
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    color: #000;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.request_lbl,
input[type="radio"] {
  display: inline-block;
}

input[type="radio"] {
  padding-right: 20px;
}

label {
  margin-right: 20px;
  margin-bottom: 5px; 
}

#summary {
  border-radius: 0px;
  width: 100%;
  border: 1px solid #00ab90;;
}

textarea {
  display: block;
  width: 100%;
  height: 200px;
}

fieldset {
  margin-bottom: 10px;
}





