* {
	box-sizing: border-box;
}

body {
	background-color: #00ab90;
	display: block;
	font-family: 'Varela Round', sans-serif;
	margin: 0;
}

div {
	display: block;
	text-align: center;
}

p {
	font-size: 13px;
}

img {
	background-color: #fff;
	border-radius: 50%;
	border: 2px solid #fff;
	width: 100px;
	height: 100px;
	margin: 0 auto;
}

form {
	margin: 0 auto;
	text-align: center;
}

input {
	border: none;
	border-radius: 5px;
	display: block;
	margin: 10px auto;
	width: 50%;
	height: 30px;
	padding: 5px 0 5px 5px;
	font-weight: 300;
}

/* change input placeholder color */
/* chrome */
input::-webkit-input-placeholder {
	color: #e3e3e3 !important;
}

/* Firefox 18- */
input:-moz-placeholder { 
	color: #e3e3e3 !important;  
}

/* Firefox 19+ */
input::-moz-placeholder {  
	color: #e3e3e3 !important;  
}

/* IE */
input:-ms-input-placeholder {  
	color: #e3e3e3 !important;  
}

input[type="submit"] {
	background-color: #016a5a;
	color: #fff;
	font-size: 13px;
}

input[type="submit"]:hover {
	color: #02F6D1;
}

button {
	color: #fff;
	font-weight: 300;
	font-size: 13px;
	cursor: pointer;
	background-color: transparent;
	border: none;
}

span {
	color: #fff;
	font-weight: 300;
	font-size: 13px;
}

hr {
	border: 1px solid #fff;
}

/*#sign-up-btn {
	margin-right: 5px;
}

#forget-btn {
	margin-left: 5px;
}*/

#sign-up-btn:hover,
#forget-btn:hover {
	color: #02F6D1;
}

.profile-image {
	padding-top: 5px;
	margin: 100px auto 10px;
}

.sign-in-wrapper {
	margin-bottom: 100px;
}

.sign-up {
	max-width: 200px;
	margin: 0 auto;
}

/* Social Media icon */
.media-icon {
	padding-right: 5px;
}
.media-icon img {
	width: 35px;
	height: 35px;
	border: none;
	margin-top: 5px;
}

/***** Sign Up Form *****/


/* Set a style for all buttons */
.signupbtn,
.cancelbtn {
	background-color: #00ab90;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 1%;
    border: none;
    cursor: pointer;
    width: 80%;
    border-radius: 10px;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
	float: left;
	width: 48%
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    color: #000;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.sign-up-input {
	border: 1px solid #000;
}

#privacy {
	color: blue;
	text-decoration: underline;
}


@media (max-width: 320px) {
	.modal-content {
		width: 90%;
	}

	.sign-up {
		max-width: 210px;
	}

	.sign-up-btn,
	.forget-btn {
		margin: 15px 1%;
	}
}
