* {
	box-sizing: border-box;
}

body {
	background-color: #00ab90;
	display: block;
	/*font-family: 'Varela Round', sans-serif;*/
	margin: 0;
}

div {
	display: block;
	text-align: center;
}

img {
	background-color: #fff;
	border-radius: 50%;
	border: 2px solid #fff;
	width: 100px;
	height: 100px;
	margin: 0 auto;
}

form {
	margin: 0 auto;
	text-align: center;
}

input {
	border: none;
	border-radius: 5px;
	/*color: #d9d9d9;*/
	display: block;
	margin: 10px auto;
	width: 50%;
	height: 30px;
	padding: 5px 0 5px 5px;
	font-weight: 300;
}

/* change input placeholder color */
/* chrome */
input::-webkit-input-placeholder {
	color: #e3e3e3 !important;
}

/* Firefox 18- */
input:-moz-placeholder { 
	color: #e3e3e3 !important;  
}

/* Firefox 19+ */
input::-moz-placeholder {  
	color: #e3e3e3 !important;  
}

/* IE */
input:-ms-input-placeholder {  
	color: #e3e3e3 !important;  
}

input[type="submit"] {
	background-color: #016a5a;
	color: #fff;
	font-size: 13px;
}

input[type="submit"]:hover {
	color: #02F6D1;
}

a {
	color: #fff;
	font-weight: 300;
	text-decoration: none;
}

a:hover {
	color: #000;
}

span {
	color: #fff;
}

hr {
	border: 1px solid #fff;
}

#sign-up-btn {
	margin-right: 5px;
}

#forget-btn {
	margin-left: 5px;
}

.profile-image {
	padding-top: 5px;
	margin: 100px auto 10px;
}

.sign-in-wrapper {
	margin-bottom: 100px;
}

.sign-up {
	max-width: 200px;
	margin: 0 auto;
}